
/* breakpoint at 1000px, don't span full page width, 80% is plenty' */
@media all and (min-width:62.5em){
    .pageContainer { 
        width:80%;
        margin-left:10%;
        margin-right:10%;
        padding:0;
    }
}

.block {
    display:block;
}

.mb10px {
    margin-bottom:10px;
}
.mt10px {
    margin-top:10px;
}